.card-container{
    display: block  ;
    background-color: yellowgreen;
    border-radius: 20px;
    padding: 15px;
    height: 120px;
    margin: 5px;
}

.card-container * {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
}

.old-cards {
    width: 50vw;
}